src/**
test/**
node_modules/**
.vscode/**
tsconfig.json
esbuild.mjs
.claude/**
*.ts
!dist/**
CLAUDE.md
.github/**
.gitignore
assets/blade-example.png
assets/dark-theme-example.png
assets/logo.png
assets/php-example.png
CLAUDE.md