.github/**
.vscode/**
!dist/**
node_modules/**
openspec/**
src/**
test/**
assets/blade-example.png
assets/dark-theme-example.png
assets/logo.png
assets/php-example.png
tsconfig.json
esbuild.mjs
*.ts
.gitignore
.editorconfig