.github/**
.vscode/**
assets/blade-example.png
assets/dark-theme-example.png
assets/logo.png
assets/php-example.png
!dist/**
node_modules/**
openspec/**
src/**
test/**
.editorconfig
.gitignore
AGENTS.md
esbuild.mjs
tsconfig.json